@model IEnumerable<Pizzeria_Gestionale.Model.Articoli_Ordine>

@{
    ViewBag.Title = "cart";
}

<h2>Carrello</h2>

@if (ViewBag.msgEmpty != null)
{
                <div class="alert alert-warning">@ViewBag.msgEmpty</div>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prodotti.NomeProdotto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo_Tot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prodotti.NomeProdotto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo_Tot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.ActionLink("Modifica", "Edit", new { id = item.IdDettaglio }) |
                @Html.ActionLink("Elimina", "Delete", new { id = item.IdDettaglio })
            </td>
        </tr>
    }

</table>

<div class="text-end">
    <btn class="btn btn-outline-info">
        <a href="/Ordini/Create" class="btn-outline-info">Conferma ordine</a>
    </btn>
</div>
}