@model Pizzeria_Gestionale.Model.Articoli_Ordine

@{
    ViewBag.Title = "Create";
}


@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4 class="text-align">Aggiungi articolo al carrello</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.IdProdotto, "IdProdotto")

    <div>
            @Html.DisplayFor(model => model.Prodotti.NomeProdotto, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantita, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantita, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantita, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Prodotti.Prezzo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control" type="text" value="@Html.EditorFor(model => model.Prodotti.Prezzo)" readonly>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Prezzo_Tot, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control" id="Pr_Tot" name="Pr_Tot" type="number" value="@Html.EditorFor(model => model.Prezzo_Tot)" readonly>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aggiungi al carrello" class="btn btn-outline-warning" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Annulla", "Menu", "Prodotti")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        $("input[type=number][name=Quantita]").change(function () {
            $("#Pr_Tot") = $("#Pr_Tot")*this.value
        })
    })
</script>*@