@model Pizzeria_Gestionale.Model.Articoli_Ordine

@{
    ViewBag.Title = "Delete";
}

        <div class="card border-danger mb-3 m-auto" style="max-width: 600px;">
            <div class="row">

                <div class="col-md-4 d-flex align-items-center">
                    <div class="card-body align-text-bottom fs-5">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.IdDettaglio)
                            <h3 class="card-title">@Html.DisplayFor(model => model.Prodotti.NomeProdotto)</h3>
                            <p class="card-text">Quantità: @Html.DisplayFor(model => model.Quantita)</p>
                            <p class="card-text">Totale: @Html.DisplayFor(model => model.Prezzo_Tot)</p>
                            <div class="form-actions no-color text-center">
                                <input type="submit" value="Elimina" class="btn btn-outline-danger mb-2" />
                                <p>
                                    oppure <br />
                                    @Html.ActionLink("Modifica quantità", "Edit", new { id = Model.IdDettaglio})
                                </p>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-8">
                    <img src="~/Content/img/@Html.DisplayFor(model => model.Prodotti.Foto)" class="img-fluid rounded-start" alt="..." width="500">
                </div>
            </div>
        </div>


