@model Pizzeria_Gestionale.Model.Ordini

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Sicuro di voler cancellare il seguente ordine?</h3>
<div>
    <h4>Dettagli Ordine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdOrdine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdOrdine)
        </dd>

        <dt>
            @Html.DisplayName("Cliente")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utenti.Cognome)  @Html.DisplayFor(model => model.Utenti.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Totale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Totale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatoOrdine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatoOrdine)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn btn-outline-danger" /> |
            @Html.ActionLink("Torna a Gestione Ordini", "Index")
        </div>
    }
</div>
