@model IEnumerable<Pizzeria_Gestionale.Model.Articoli_Ordine>

@{
    ViewBag.Title = "Details";
}

<h2>Carrello</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prodotti.NomeProdotto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo_Tot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prodotti.NomeProdotto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo_Tot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
        </tr>
    }

</table>

@if(User.Identity.Name=="admin")
            {
                <div>
                    @Html.ActionLink("Torna a Lista Ordini", "Index")
                </div>
            }
            else
            {
                <div>
                    @Html.ActionLink("Torna a Lista Ordini", "Lista")
                </div>
            }
