@model Pizzeria_Gestionale.Model.Ordini

@{
    ViewBag.Title = "Edit";
}

<h2>Modifica Stato Ordine</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Ordini</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdOrdine)
    @Html.HiddenFor(model => model.IdUtente)
    @Html.HiddenFor(model => model.Totale)


    <div class="col-md-10">
        Ordine nr: @Html.DisplayNameFor(model => model.IdOrdine)
    </div>

    <div class="col-md-10">
        Cliente: @Html.DisplayNameFor(model => model.Utenti.Cognome) @Html.DisplayNameFor(model => model.Utenti.Nome)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StatoOrdine, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("StatoOrdine", new SelectList(ViewBag.Stato, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salva Stato" class="btn btn-outline-info" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Ritorna a Gestione Ordini", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
