@model IEnumerable<Pizzeria_Gestionale.Model.Ordini>

@{
    ViewBag.Title = "Lista";
}

<h2>Gestione Ordini</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdOrdine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Totale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatoOrdine)
        </th>
        <th>
            @Html.DisplayName("Ordine")
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrdine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utenti.Cognome) @Html.DisplayFor(modelItem => item.Utenti.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatoOrdine)
            </td>
            <td>
                @if (item.StatoOrdine == "Confermato")
                {
                    @Html.Display("In Preparazione")
                }
                else if (item.StatoOrdine == "Spedito")
                {
                    @Html.Display("In Arrivo")
                }
                else if (item.StatoOrdine == "Evaso")
                {
                    @Html.Display("Consegnato")

                }
            </td>
                <td class="fw-bold">
                    @Html.ActionLink("Dettagli", "Details", new { id = item.IdOrdine })
                </td>
            </tr>
    }

</table>