@model IEnumerable<Pizzeria_Gestionale.Model.Prodotti>

@{
    ViewBag.Title = "Menu";
}

<div class="container-menu">
    <h2 class="title">Menù Pizzeria In Forno</h2>

    <div class="d-flex flex-wrap gap-3 justify-content-around">
        @foreach (var item in Model)
        {

            <div class="form-horizontal">
                <div class="card" style="width: 20rem;">
                    <img src="~/Content/img/@Html.DisplayFor(modelItem => item.Foto)" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.NomeProdotto)</h5>
                        <p class="card-text"> @Html.DisplayFor(modelItem => item.Ingredienti)</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.TempiConsegna):  @Html.DisplayFor(modelItem => item.TempiConsegna)</li>
                        <li class="list-group-item">@Html.DisplayFor(modelItem => item.Prezzo)</li>
                        <li class="list-group-item qta">Qta: <input type="number" /></li>
                        <li class="list-group-item note">Note: <input type="text" class="note" /></li>
                        <li class="list-group-item">
                            <a href="#" data-id="@item.IdProdotto" class="card-link">Aggiungi al carrello</a>
                        </li>
                    </ul>
                </div>
            </div>

        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var baseUrl = "/Articoli_Ordine/Index/";
        $(".card-link").click(function () {
            var id = $(this).data("id");
            var quantity = $(this).parent("li").siblings(".qta").children("input").val();
            var note = $(this).parent("li").siblings(".note").children("input").val();
            location.href = baseUrl + "?id=" + id + "&quantity=" + quantity + "&note=" + note;
        });
    })
</script>
