@{
    string path = Context.Request.Path;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="d-flex flex-column justify-content-between main">
        <nav class="navbar">
            <div class="container-fluid mx-5">

                <img src="~/Content/img/LOGO-.png" width="130" />
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link @(path.StartsWith("/Home") ? "active" : "")" href="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(path.StartsWith("/Prodotti/Menu") ? "active" : "")" href="/Prodotti/Menu">Menù</a>
                    </li>
                    @if (User.Identity.Name == "admin")
                    {
                        <li class="nav-item">
                            <a class="nav-link @(path.StartsWith("/Prodotti/Index") ? "active" : "")" href="/Prodotti/Index">Gestione Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path.StartsWith("/Ordini/Index") ? "active" : "")" href="/Ordini/Index">Gestione Ordini</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link @(path.StartsWith("/Ordini/Lista") ? "active" : "")" href="/Ordini/Lista">Ordini</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path.StartsWith("/Articoli_Ordine") ? "active" : "")" href="/Articoli_Ordine/Cart">Carrello</a>
                        </li>
                    }

                   
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link @(path.StartsWith("/Utenti") ? "active" : "")" href="/Utenti/Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link @(path.StartsWith("/Utenti") ? "active" : "")" href="/Utenti/Login">Login</a>
                        </li>

                    }
                </ul>
                <div class="nav justify-content-end">
                    <button class="btn btn-outline-info">
                        @Html.ActionLink("ORDINA", "Menu", "Prodotti")
                    </button>
                </div>
            </div>
        </nav>
        <section>
            <div class="container body-content">
                @RenderBody()
            </div>
        </section>

        <footer class="container-fluid d-flex justify-content-center">
            <div>
                <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET by Daniela</p>
            </div>
            <div id="Admin">
                <a class="nav-link @(path.StartsWith("/Prodotti") ? "active" : "")" href="/Prodotti/Index">Area Riservata Admin</a>
            </div>
        </footer>

    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
